/* COLOR REFERENCE
header background pink: #ee5360
header in between pink: #ede3c8 
main background: #fff
main font color: #693b0e
h1 & Links color: #693b0e
    
footer background: #363636
footer text: #bdbdbd

*/

/**********BASE CONFIGURATIONS**********/   

html { 
    -webkit-font-smoothing: antialiased; 
}

body {
    background: #fff;
    color: #5b4924;
    margin:  0px;
    font-size: 14px;
    font-family: Georgia, "Comic Sans MS", cursive, sans-serif;

}

h1 {
    background: url(../images/section_header.png) no-repeat center;
    height: 46px;
    width: 100%;
    font-style: italic;
    text-align: center;
    line-height: 25px;
    font-size: 30px;
    text-transform: none;
    text-shadow: 0px 1px 1px #ccc;
    margin: -15px 0px 15px auto;
	font-weight: lighter;
}

h2 {
	font-size:20px;
	line-height:15px;
	text-align:center;
    margin: 10px 0px 15px auto;
	font-weight: lighter;
}

h3 {
	font-size:14px;
	text-align:center;
    margin: 10px 0px 15px auto;
	font-weight: lighter;
    font-family: Tahoma, Verdana, Arial;
}

h5 {
    margin: 0px 0px 5px auto;
}

/**********FOOTER CONFIGURATION **********/
#footer {
	background:#ede3c8;
	width:100%;
	text-align:left;
    height: 100%;
	font-size:13px;
	color:#ee5360;
	padding-top:0px;
	padding-bottom: 80px;
}

.likeImage{
    width: 275px;
    height: 95px;
    background-image: url("/includes/images/social/Facebook.png");
    background-repeat: no-repeat;
}
.likeImage iframe{
    opacity: 0;
}

.thumbnail_div {
    width: 720px;
    margin: 0px auto;
}
.thumbnail_div a {
    margin-left: 10px;
}
.thumbnail_div img {
    border: solid 0px #5b4924;
    margin-bottom: 10px;
border-radius: 15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
box-shadow: 1px 1px 3px #888;
-webkit-box-shadow: 1px 1px 3px #888;
-moz-box-shadow: 1px 1px 3px #888;

}






.span4, .thumbnails{
	text-align:center;
	margin-top:20px;
	}
.span3 {
	margin-top:20px
}
.span9, .span8 {
	text-align:left
}

nav select{display:none}



/**********TOP HEADER STYLE**********/   
#header_bg {
    height: 210px;
    background: url(../images/header_bg.png) repeat top left;
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
	z-index: -999;
}

#logo {
	position:absolute;
	margin-top:-50px;
	margin-left: 150px;
}

/**********HEADER TITLE SECTION **********/
/*
.section_header {
    background: url(../images/section_header.png) no-repeat center;
    height: 46px;
    width: 100%;
    text-align: center;
    line-height: 46px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    color: #ee5360;
    text-shadow: 0px 1px 1px #000;
    margin-left: auto;
    margin-bottom:35px;
}
*/


/**********SIDEBAR STYLES **********/
.sidebar {
	display:block;
	font-size:12px;
}

.sidebar a{
	color:#b9413e
}

/**********DASH STYLE**********/
hr.dashed{
	margin:18px 0;
	border:0;
	border-top:1px dashed #625f5f;
	border-bottom:1px dashed #fff
}

/**********TAGLINE STYLE**********/
.taglinequite{ 
	font-family:Georgia, serif;
	font-size:16px;
	color:#3F3F3F; 
	font-style:italic; 
	line-height:23px; 
	text-align:center;
	}

/**********TEXT FOCUS STYLE**********/
.textfocus {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:22px;
	color:#3F3F3F;
	font-style:italic;
	line-height:30px;
	text-align:center;
	font-weight:100

}

/**********IMAGE MASK & HOVER**********/
/**This beautiful effect was created by Eric Pires, 
web designer from Brazil. Thanks for all your help mate!**/


.view{
	width:100%;
	float:left;
	overflow:hidden;
	position:relative;
	text-align:center;
	cursor:default;
	background:url("../images/spinner.gif") center center no-repeat #f1f1f1!important
}

.view .mask{
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
}

.view a.info{
	display:block;
	width:32px;
	height:32px;
	border-radius:3px;
	background-color:#000;
	background-image:url("../images/zoom.png");
	position:absolute;
	top:50%!important;
	left:50%;
	margin-top:-16px;
	margin-left:-36px;
	border:1px solid;
	border-color:rgba(0,0,0,0.5);
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
	-ms-transition:all .2s linear;
	transition:all .2s linear
}

.nolink a.info{
	margin-left:-17px!important
}

.view a.info:hover{
	border:1px solid;
	border-color:rgba(255,255,255,0.7);
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
	-ms-transition:all .2s linear;
	transition:all .2s linear
}

.view a.link{
	display:block;
	width:32px;
	height:32px;
	border-radius:3px;
	background-color:#000;
	background-image:url("../images/link.png");
	position:absolute;
	top:50%!important;
	left:50%;
	margin-top:-16px;
	margin-left:4px;
	border:1px solid;
	border-color:rgba(0,0,0,0.5);
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
	-ms-transition:all .2s linear;
	transition:all .2s linear
}
.noinfo a.link{
	margin-left:-17px
}

.view a.link:hover{
	border:1px solid;
	border-color:rgba(255,255,255,0.7);
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
	-ms-transition:all .2s linear;
	transition:all .2s linear
}

.view-first img{
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
	-ms-transition:all .2s linear;
	transition:all .2s linear
}

.view-first .mask{
	-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	opacity:0;
	background:url("../images/patterns/port-sep.png");
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out
}
.view-first:hover .mask{
	-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	opacity:1
}



/**********TWITTER WIDGET **********/
#jstwitter ul li{
	color:#bdbdbd;
	padding:.5em .75em;
}

#jstwitter ul{
	margin-left:0;
	list-style:none
}

#jstwitter:first-child{
	border-top:0
}

ul#jstwitter li a{
	font-size:10px;
	font-style:italic;
	color:#666;
	text-decoration:none
}

/**********VIDEO WIDGET **********/
.video-container-post{
	position:relative;
	padding-bottom:55.25%;
	height:0;
	overflow:hidden
}

.video-container-post iframe,.video-container object,.video-container embed{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}


/**********************************/
/**********MEDIA SCREENS **********/
/**********************************/

@media only screen and (max-width: 980px) {
    
    h2 {
	    line-height:20px;
    }

    #end {
	    text-align:center;
	    line-height:15px
    }

    #logo {
    	text-align: center;
    	margin: auto;
    	width: 300px;
    }
    
}


@media (min-width:768px) and (max-width:979px) {

    .nav {
        margin-top: 60px;
    }

    .nav-pills > li > a {
        font-size: 15px;
    }

    #logo {
        text-align: center;
        margin: auto;
        width: 200px;
    }

    #logo img {
        width: 150px;
        height: 128px;
        padding-top: 30px;
    }    

}

@media (min-width:480px) and (max-width:767px) {

    body{
        padding:0;
    }

    nav ul{
        display:none;
    }

    nav select{
        display:inline-block;
        width:100%!important;
    }

    nav{
        position:relative;
        right:auto;
        top:auto;
        width:100%;
    }

    #logo img { 
	    width: 100px;
	    padding-top:30px; 
    }

}

@media (max-width:479px){

    body{
        padding:0;
    }

    nav ul{
        display:none;
    }

    nav select{
        display:inline-block;
        width:100%!important;
    }

    nav{
        position:relative;
        right:auto;
        top:auto;
        width:100%;
    }

    .textfocus {
	    font-size:16px;
	    line-height:24px;
    }

    .thumbnails > li {
        text-align:center;
    }

    #logo img { 
	    width: 100px;
	    padding-top:30px; 
    }

}

@media only screen and (max-width:380px){

    .section_header {
        background: url(../images/section_header_mobile.png) no-repeat top left;
        height: 45px;
        width: 300px;
    }

    .thumbnails > li {
        margin-left: 0px;
        text-align:center;
    }

    #logo img { 
	    width: 100px;
	    padding-top:30px; 
    }

}

