/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #eae8ca;
    font-size: .80em;
    font-family: Verdana, Tahoma;
    margin: 0px;
    padding: 0px;
    color: #584818;
}

a:link, a:visited
{
    color: #b18d62;
    text-decoration: none;
}

a:hover
{
    color: #584818;
    text-decoration: underline;
}

a:active
{
    color: #0056bd;
}

p
{
    font-size: 12px;
    margin: 7px 0px 0px 0px;
    color: #584818;
    line-height: 1.2em;
    text-align:left;
}
r
{
    font-size: 11px;
    color: #006699;
    font-weight: bold;
    
}
t
{
    font-size: 11px;
    color: #006699;
    font-weight: normal;
    
}

img
{
    border: 0px;
    padding: 0px;
    margin: 0px;
}

td
{
    text-align: left;
}

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    line-height: 1em;
}

h1
{
    text-align:center;
    font-size: 1.3em;
    padding-bottom: 0px;
    margin: 10px 0px 0px 0px;
}

h2
{
    font-size: 10pt;
    font-weight: bold;
    text-align:left;
    float:right;
    width:273px;
    color:#584818;
    padding:6px 6px 6px 6px;
    background-color:#dfdebf;
    margin:1px 0px 5px 0px;
    border:solid 0px #000000;
}

h3
{
    font-size: 10pt;
    font-weight: bold;
    text-align:left;
    color:#584818;
    padding:6px 6px 6px 6px;
    background-color:#dfdebf;
    margin-top:5px;
}
h4
{
    font-size: 10pt;
    font-weight: bold;
    text-align:left;
    color:#584818;
    padding:6px 0px 0px 6px;
    background-color:#dfdebf;
    margin-top:0px;
}
h5
{
    font-size: 8pt;
    font-weight:normal;
    color:#006699;
    padding:0px 6px 3px 6px;
}
h6
{
    font-size: 10pt;
    font-weight: bold;
    text-align:left;
    float:left;
    width:230px;
    color:#584818;
    padding:6px 6px 6px 6px;
    background-color:#dfdebf;
    margin-top:1px;
    border:solid 0px #000000;
}


/* LAYOUT   
----------------------------------------------------------*/

.main
{
    display: block;
    margin: 0px auto 0px auto;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color:#eae8ca;
}

.main2
{
    position: relative;
    float:left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 100%;
    height: 400px;
    border: solid 0px #0056bd;
}

.banner
{
    position: relative;
    display: block;
    margin: 0px auto 0px auto;
    padding: 0px;
    width: 100%;
    height: 180px;
    background: url("../pics/banner_bg.gif");
}

.banner .img
{
    margin-top: 5px;
}

.divider
{
    position: relative;
    display: block;
    margin: 0px auto 0px auto;
    padding: 0px;
    width: 100%;
    height: 2px;
    background-color:#e4e2be;
}

.contents
{
    position: relative;
    display: block;
    margin: 5px auto 0px auto;
    padding: 0px 8px 8px 8px;
    width: 700px;
    height:100%;
    background-color: #f8f5e6;
    border:solid 2px #e4e2be;
}

.footers
{
    position: fixed;
    bottom:0px;
    padding: 0px;
    width: 100%;
    height: 45px;
    padding:0px;
    border-top:solid 2px #e4e2be;
    background-color:#f8f5e6;
    text-align:center;
    z-index:9999;
}

.diaryBox
{
    position:relative; 
    height:410px; 
    width:228px; 
    float:right; 
    margin-top:13px; 
    background-color:#dfdebf;
}

.entries
{
    width:210px; 
    height:374px; 
    margin: 0px auto 0px auto; 
    padding:1px 3px 3px 3px; 
    background-color:#f8f5e6;
}

.paragraph 
{
    height:100px; 
    display:block;   
}

.paragraph .left
{
    width:85%;    
    float:left;
    border:solid 0px #000000;
}

.hilite
{
    color: #b18d62
}

/* MENU 
----------------------------------------------------------*/

#menu
{
    position: relative;
    display: block;
    margin: 0px auto 0px auto;
    padding: 0px;
    width: 100%;
    height: 32px;
    background-color:#f8f5e6;
}

#menu p
{
    padding:0px;
    margin:0px;
    padding-top:5px;
    font-size:9pt;
}

#menu .pipe
{
    padding:0px 15px 0px 10px;
}

/*
*    Setup
*/
ul.cssmenu {
    list-style: none;
    padding: 0px;
    margin: 0px auto 0px auto;
    width:335px;
    height: 32px;
    }
.displace {
    position: absolute;
    left: -5000px;
    }
ul.cssmenu li {
    float: left;
    margin:0px 10px 0px 10px;
    }
ul.cssmenu li a {
    display: block;
    background-image: url("../pics/menu.gif");
    background-repeat: no-repeat;
    }
/*
*    Normal Links
*/
ul.cssmenu li.home a {
    width: 55px;
    height: 32px;
    background-position: 1px 0;
    }
ul.cssmenu li.galleries a {
    width: 70px;
    height: 32px;
    background-position: -52px 0;
    }
ul.cssmenu li.orders a {
    width: 56px;
    height: 32px;
    background-position: -123px 0;
    }
ul.cssmenu li.about a {
    width: 53px;
    height: 32px;
    background-position: -180px 0;
    }
ul.cssmenu li.contact a {
    width: 89px;
    height: 32px;
    background-position: -234px 0;
    }
/*
*    Hover Links
*/
ul.cssmenu li.home a:hover {
    background-position: 1px -31px;
    }
ul.cssmenu li.galleries a:hover {
    background-position: -52px -31px;
    }
ul.cssmenu li.orders a:hover {
    background-position: -123px -31px;
    }
ul.cssmenu li.about a:hover {
    background-position: -180px -31px;
    }
ul.cssmenu li.contact a:hover {
    background-position: -234px -31px;
    }
/*
*    Clicked Links
*/
ul.cssmenu li.home a:active {
    background-position: 0 -88px;
    }
ul.cssmenu li.galleries a:active {
    background-position: -150px -88px;
    }
ul.cssmenu li.orders a:active {
    background-position: -300px -88px;
    }
ul.cssmenu li.about a:active {
    background-position: -450px -88px;
    }
ul.cssmenu li.contact a:active {
    background-position: -600px -88px;
    }
/*
*    Selected/Active Links
*/
ul.cssmenu li.home a.selected {
    background-position: 0 -31px ;
    }
ul.cssmenu li.galleries a.selected {
    background-position: -150px -132px;
    }
ul.cssmenu li.orders a.selected {
    background-position: -300px -132px;
    }
ul.cssmenu li.about a.selected {
    background-position: -450px -132px;
    }
ul.cssmenu li.contact a.selected {
    background-position: -600px -132px;
    }

