@{  
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Cupcakes";
}

			<div class="row">
				<div class="span12">
    <!-- Welcome Message -->
					<h1>Cupcakes</h1>	
     <!-- /END Welcome Message -->
     				<div id="portfolio" class="row">

						<div class="thumbnail_div">
                            <a href="includes/images/photos/cupcakes/Art.jpg" rel="prettyPhoto[cupcakes]" title="Art">
                                <img src="includes/images/photos/cupcakes/Art_tn.jpg" alt="Art" />
                            </a>
                            <a href="includes/images/photos/cupcakes/BabyStuff.jpg" rel="prettyPhoto[cupcakes]" title="Baby Stuff">
                                <img src="includes/images/photos/cupcakes/BabyStuff_tn.jpg" alt="Baby Stuff" />
                            </a>
                            <a href="includes/images/photos/cupcakes/Ballet4.jpg" rel="prettyPhoto[cupcakes]" title="Ballet">
                                <img src="includes/images/photos/cupcakes/Ballet4_tn.jpg" alt="Ballet" />
                            </a>
                            <a href="includes/images/photos/cupcakes/Batman.jpg" rel="prettyPhoto[cupcakes]" title="Batman">
                                <img src="includes/images/photos/cupcakes/Batman_tn.jpg" alt="Batman" />
                            </a>
                            <a href="includes/images/photos/cupcakes/BearsPink.jpg" rel="prettyPhoto[cupcakes]" title="Bears Pink">
                                <img src="includes/images/photos/cupcakes/BearsPink_tn.jpg" alt="Bears Pink" />
                            </a>
                            <a href="includes/images/photos/cupcakes/Bugs.jpg" rel="prettyPhoto[cupcakes]" title="Bugs">
                                <img src="includes/images/photos/cupcakes/Bugs_tn.jpg" alt="Bugs" />
                            </a>
                            <a href="includes/images/photos/cupcakes/BugsPink.jpg" rel="prettyPhoto[cupcakes]" title="Bugs Pink">
                                <img src="includes/images/photos/cupcakes/BugsPink_tn.jpg" alt="Bugs Pink" />
                            </a>
                            <a href="includes/images/photos/cupcakes/Car.jpg" rel="prettyPhoto[cupcakes]" title="Car">
                                <img src="includes/images/photos/cupcakes/Car_tn.jpg" alt="Car" />
                            </a>
                            <a href="includes/images/photos/cupcakes/Car3.jpg" rel="prettyPhoto[cupcakes]" title="Car">
                                <img src="includes/images/photos/cupcakes/Car3_tn.jpg" alt="Car" />
                            </a>
                            <a href="includes/images/photos/cupcakes/Cowboys&Sheriffs.jpg" rel="prettyPhoto[cupcakes]" title="Cowboys & Sheriffs">
                                <img src="includes/images/photos/cupcakes/Cowboys&Sheriffs_tn.jpg" alt="Cowboys & Sheriffs" />
                            </a>
                            <a href="includes/images/photos/cupcakes/Cricket.jpg" rel="prettyPhoto[cupcakes]" title="Cricket">
                                <img src="includes/images/photos/cupcakes/Cricket_tn.jpg" alt="Cricket" />
                            </a>
                            <a href="includes/images/photos/cupcakes/Floral.jpg" rel="prettyPhoto[cupcakes]" title="Floral">
                                <img src="includes/images/photos/cupcakes/Floral_tn.jpg" alt="Floral" />
                            </a>
                            <a href="includes/images/photos/cupcakes/Flower.jpg" rel="prettyPhoto[cupcakes]" title="Flower">
                                <img src="includes/images/photos/cupcakes/Flower_tn.jpg" alt="Flower" />
                            </a>
                            <a href="includes/images/photos/cupcakes/Flower4.jpg" rel="prettyPhoto[cupcakes]" title="Flower">
                                <img src="includes/images/photos/cupcakes/Flower4_tn.jpg" alt="Flower" />
                            </a>
                            <a href="includes/images/photos/cupcakes/French.jpg" rel="prettyPhoto[cupcakes]" title="French">
                                <img src="includes/images/photos/cupcakes/French_tn.jpg" alt="French" />
                            </a>
                         </div>

						</div>

                        <br />
                        <br />
                        <br />
                        <br />
					</div>				
					<br>
				</div><!-- /span12 -->
			</div><!-- /row -->
