@{  
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home";
}

			<div class="row">
				<div class="span12">
    <!-- Welcome Message -->
					<h1>Welcome to Koek-e-loer</h1>	
                    <h3>Welcome to the official site of Koek-e-loer, your novelty cake specialists in the <strong>Pretoria area and surrounds</strong>.</h3>
                    <h3>We offer professionally customized novelty cakes for any theme or occasion. Whether it's a tiered wedding cake, a themed birthday cake or even just a batch of baby shower cupcakes, we've got the experience and expertise to create whatever you desire.</h3>		
					<h3>Please have a look at what we offer and don't hesitate to contact Linky on <strong>082 5777 354</strong> or email her at <strong><a href="mailto:linky@koek-e-loer.co.za">linky@koek-e-loer.co.za</a></strong> should you have any queries.</h3>
     <!-- /END Welcome Message -->
					<br>
    <!-- Slider -->
          			<div id="myCarousel" class="carousel slide">
           				<div class="carousel-inner">
              			    <!-- First Image -->
              				<div class="item active">
                				<img src="includes/images/slider/slider1.png" alt="">
              				</div>
              			    <!-- Second Image -->
              				<div class="item">
                				<img src="includes/images/slider/slider2.png" alt="">
              				</div>
              			    <!-- Third Image -->
              				<div class="item">
                				<img src="includes/images/slider/slider4.png" alt="">
              				</div>
              			    <!-- Fourth Image -->
              				<div class="item">
                				<img src="includes/images/slider/slider3.png" alt="">
              				</div>
            			</div>
            			<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            			<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          			</div>
    <!-- /END Slider -->
					<br>
				</div><!-- /span12 -->
			</div><!-- /row -->
